.node > circle {
  fill: green !important;
  stroke: black !important;
  stroke-width: 2px !important;
}

.nodeHighlightStyle1 > circle {
  fill: red !important;
}

.nodeHighlightStyle2 > circle {
  fill: lightblue !important;
}

.nodeHighlightStyle3 > circle {
  fill: darkmagenta !important;
}

.nodeHighlightStyle4 > circle {
  fill: dimgray !important;
}

.nodeLabel {
  color: black !important;
}

.edgePaths path {
  stroke: black !important;
  stroke-width: 3px !important;
}

.edgeLabel {
  background: none !important;
  color: blue !important;
  font-weight: bolder;
}

.edgePaths .edgeHighlighted {
  stroke: red !important;
}
